
/*  SECTIONS  ============================================================================= */

.section {
	height: 100vh;
	clear: both;
	padding: 70px 0;
	margin: 0px;
}

.flexRow{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.flexRowItem{
	padding: 1% 2%;
}

nav>.flexRow{
	justify-content: space-between;
}


.flexRow2{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;

    margin: 0 auto;
}

.flexRow2-El{
    flex: 1 1 300px;
}


.fullRow{
	width: 100%;
	padding: 2% 4%;
}

.greenback{
	background-color: #14A76c;
}